In [ ]:
import urllib.request as req
import bs4

url='https://news.naver.com'
html=req.urlopen(url)
bsObj=bs4.BeautifulSoup(html.read(),'html.parser')


ul=bsObj.find("ul",{"class":"hdline_article_list"})

lis=ul.findAll('li')
titles=[li.find("a").text for li in lis]
for title in titles:
     print(title.strip())

In [24]:
df

,rank,name,href,code,nowprice,totalPrice,volume
0,1,셀트리온헬스케어,/item/main.nhn?code=091990,091990,"65,200","93,853","1,226,224"
1,2,에이치엘비,/item/main.nhn?code=028300,028300,"100,200","43,174","789,160"
2,3,CJ ENM,/item/main.nhn?code=035760,035760,"152,800","33,508","591,557"
3,4,스튜디오드래곤,/item/main.nhn?code=253450,253450,"84,000","23,601","289,312"
4,5,케이엠더블유,/item/main.nhn?code=032500,032500,"59,200","23,574","2,855,937"
...,...,...,...,...,...,...,...
495,496,아톤,/item/main.nhn?code=158430,158430,"30,300","1,239","190,968"
496,497,코스온,/item/main.nhn?code=069110,069110,"6,620","1,238","61,072"
497,498,인터파크홀딩스,/item/main.nhn?code=035080,035080,"2,115","1,237","202,886"
498,499,SDN,/item/main.nhn?code=099220,099220,"2,670","1,236","1,118,376"
499,500,에이비프로바이오,/item/main.nhn?code=195990,195990,698,"1,234","648,636"